<section class="about-section">
    <div class="about-container">

        <div class="about-team-photo">
            <picture>
                <source media="(min-width: 1440px)" 
                srcset="
                /img/team.webp 1x, 
                /img/team2@x.webp 2x" type="image/webp">

                <source media="(min-width: 768px)" 
                srcset="
                /img/tablet-team.webp 1x, 
                /img/tablet-team2@x.webp 2x" type="image/webp">

                <source media="(max-width: 767px)" 
                srcset="
                /img/mobile-team.webp 1x, 
                /img/mobile-team2@x.webp 2x" type="image/webp">

                <img src="/img/team.webp 1x" alt="Команда ArtistsHub"                              class="team-photo" loading="lazy">
            </picture>
        </div>

        <div class="about_logo">
            <div class="about-logo-wrapper">
                <svg class="icon-logo-icon" width="64" height="64">
                    <use href="./img/sprite.svg#logo"></use>
                </svg>
            </div>
            <h2 class="about-section-title">About ArtistsHub</h2>
            <p class="about-mission-text">
                At ArtistsHub, our mission is to connect music lovers with the artists they adore.
                We strive to create a vibrant community where discovering new music is as
                enjoyable as listening to it.
            </p>
        </div>

    </div>
</section>