<section class="about-us">
  <div class="container about-us-container">
    <div class="about-us-wrapper">
      <div class="team-img">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/about-us/team-desktop-1x.webp 1x,
              ../img/about-us/team-desktop-2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/about-us/team-tablet-1x.webp 1x,
              ../img/about-us/team-tablet-2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/about-us/team-1x.webp 1x,
              ../img/about-us/team-2x.webp 2x
            "
          />
          <img
            src="../img/about-us/team-desktop-1x.webp"
            alt="ArtistsHub team"
          />
        </picture>
      </div>
      <div class="about-us-content">
        <svg class="icon" width="64" height="64" aria-label="logo">
          <use href="../img/sprite.svg#logo"></use>
        </svg>
        <h2 class="about-title">About ArtistsHub</h2>
        <p class="about-text">
          At ArtistsHub, our mission is to connect music lovers with the artists
          they adore. We strive to create a vibrant community where discovering
          new music is as enjoyable as listening to it.
        </p>
      </div>
    </div>
  </div>
</section>
