<section class="artists-section">
  <div class="container artists-container">
    <h2 class="artists-title">Artist</h2>
    <h3 class="artists-subtitle">Explore Your New Favorite Artists</h3>

    <ul class="artists-list">
      <!-- Artist Card Template for rendering-->
      <li class="artist-card">
        <img class="artist-image" src="" alt="" />
        <ul class="genres">
          <li class="genre">1</li>
          <li class="genre">2</li>
          <li class="genre">3</li>
        </ul>
        <h4 class="artist-name"></h4>
        <p class="artist-description"></p>
        <button type="button" class="artist-button">
          Learn More
          <span> svg icon </span>
        </button>
      </li>
      <!-- Artist Card Template for rendering-->
    </ul>

    <button type="button" class="load-more is-hidden">Load More</button>
  </div>
</section>
