<div class="filter-wrapper">
    <aside class="filters-panel">
        <header class="filters-header">
            <div class="filter-reset-wrapper">
                <h3 class="filters-title">Filters</h3>
                <button class="filters-reset-btn">Reset</button>
            </div>
            <!-- Button for mobile -->
            <button class="dropdown-toggle search-and-filters-toggle" aria-expanded="false">
                Search & Filters
                <svg class="dropdown-icon dropdown-icon-search" width="24" height="24">
                    <use href="../public/sprite.svg#icon-chevron-down"></use>
                </svg>
            </button>
        </header>

        <div class="filters-content">
            <!-- Search -->
            <div class="artists-search-wrapper">
                <button class="search-btn" aria-label="Search">
                    <svg class="search-icon" width="24" height="24" aria-hidden="true">
                        <use href="../public/sprite.svg#icon-search"></use>
                    </svg>
                </button>
                <input class="search-input" type="text" placeholder="Search" autocomplete="off" />
            </div>

            <!-- Sorting -->
            <div class="artists-dropdown-sort">
                <button class="dropdown-toggle dropdown-toggle-sort">
                    <span class="dropdown-label">Sorting</span>
                    <svg class="dropdown-icon sort-icon" width="24" height="24" aria-hidden="true">
                        <use href="../public/sprite.svg#icon-chevron-down"></use>
                    </svg>
                </button>
                <ul class="dropdown-menu dropdown-menu-sort">
                    <li data-value="0">Default</li>
                    <li data-value="1">A-Z</li>
                    <li data-value="2">Z-A</li>
                </ul>
            </div>

            <!-- Genre -->
            <div class="artists-dropdown-genres">
                <button class="dropdown-toggle dropdown-toggle-genres">
                    <span class="dropdown-label">Genre</span>
                    <svg class="dropdown-icon genres-icon" width="24" height="24" aria-hidden="true">
                        <use href="sprite.svg#icon-chevron-down"></use>
                    </svg>
                </button>
                <ul class="dropdown-menu dropdown-menu-genres"></ul>
            </div>
        </div>
    </aside>
</div>