<section class="artists-section">
  <div class="container artists-container">
    <h2 class="artists-title">Artist</h2>
    <h3 class="artists-subtitle">Explore Your New Favorite Artists</h3>

    <ul class="artists-list">
      <!-- Artist Card Template for rendering-->
      <li class="artist-card">
        <img
          class="artist-image"
          src="img/Placeholder_Image.png"
          alt="Placeholder Image"
        />
        <div class="artist-content-wrapper">
          <ul class="genres-list">
            <li class="genres-item">Alternative</li>
            <li class="genres-item">Pop</li>
            <li class="genres-item">Rock</li>
            <li class="genres-item">Indie</li>
          </ul>
          <div class="artist-title-wrapper">
            <h4 class="artist-name">Ren</h4>
            <p class="artist-description">
              Ren Eryn Gill, known professionally as Ren, is a
              multi-award-winning Welsh singer-songwriter, musician, rapper,
              producer, and director. Formerly a member of Trick the Fox and the
              Big Push, Ren has independently released two albums, Freckled
              Angels and Sick Boi.
            </p>
          </div>
        </div>
        <button type="button" class="artist-button">
          Learn More
          <svg class="icon" width="20" height="20">
            <use href="img/sprite.svg#learn-more"></use>
          </svg>
        </button>
      </li>
      <li class="artist-card">
        <img
          class="artist-image"
          src="img/Placeholder_Image.png"
          alt="Placeholder Image"
        />
        <div class="artist-content-wrapper">
          <ul class="genres-list">
            <li class="genres-item">Alternative</li>
            <li class="genres-item">Pop</li>
            <li class="genres-item">Rock</li>
            <li class="genres-item">Indie</li>
          </ul>
          <div class="artist-title-wrapper">
            <h4 class="artist-name">Ren</h4>
            <p class="artist-description">
              A look at the influential figures who shaped jazz music history.
            </p>
          </div>
        </div>
        <button type="button" class="artist-button">
          Learn More
          <svg class="icon" width="20" height="20">
            <use href="img/sprite.svg#learn-more"></use>
          </svg>
        </button>
      </li>
      <li class="artist-card">
        <img
          class="artist-image"
          src="img/Placeholder_Image.png"
          alt="Placeholder Image"
        />
        <div class="artist-content-wrapper">
          <ul class="genres-list">
            <li class="genres-item">Alternative</li>
            <li class="genres-item">Pop</li>
            <li class="genres-item">Rock</li>
            <li class="genres-item">Indie</li>
          </ul>
          <div class="artist-title-wrapper">
            <h4 class="artist-name">Ren</h4>
            <p class="artist-description">
              Ren Eryn Gill, known professionally as Ren, is a
              multi-award-winning Welsh singer-songwriter, musician, rapper,
              producer, and director. Formerly a member of Trick the Fox and the
              Big Push, Ren has independently released two albums, Freckled
              Angels and Sick Boi.
            </p>
          </div>
        </div>
        <button type="button" class="artist-button">
          Learn More
          <svg class="icon" width="20" height="20">
            <use href="img/sprite.svg#learn-more"></use>
          </svg>
        </button>
      </li>
      <li class="artist-card">
        <img
          class="artist-image"
          src="img/Placeholder_Image.png"
          alt="Placeholder Image"
        />
        <div class="artist-content-wrapper">
          <ul class="genres-list">
            <li class="genres-item">Alternative</li>
            <li class="genres-item">Pop</li>
            <li class="genres-item">Rock</li>
            <li class="genres-item">Indie</li>
          </ul>
          <div class="artist-title-wrapper">
            <h4 class="artist-name">Ren</h4>
            <p class="artist-description">
              Ren Eryn Gill, known professionally as Ren, is a
              multi-award-winning Welsh singer-songwriter, musician, rapper,
              producer, and director. Formerly a member of Trick the Fox and the
              Big Push, Ren has independently released two albums, Freckled
              Angels and Sick Boi.
            </p>
          </div>
        </div>
        <button type="button" class="artist-button">
          Learn More
          <svg class="icon" width="20" height="20">
            <use href="img/sprite.svg#learn-more"></use>
          </svg>
        </button>
      </li>

      <!-- Artist Card Template for rendering-->
    </ul>

    <button type="button" class="load-more is-hidden">Load More</button>
  </div>
</section>
