<header class="header">
  <div class="container">
    <nav class="page-nav">
      <a href="./" class="logo">ArtistsHubLogoPlaceholder</a>
      <button type="button" class="burger-icon">BurgerIconPlaceholder</button>
      <button type="button" class="close-icon">CloseIconPlaceholder</button>
      <ul class="section-nav">
        <li class="section-name">
          <a href="#artists" class="section-link">Artists</a>
        </li>
        <li class="section-name">
          <a href="#about-us" class="section-link">About Us</a>
        </li>
        <li class="section-name">
          <a href="#feedback" class="section-link">Reviews</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
