<section class="hero_banner">
  <div class="hero_blok">
    <h1 class="title_hero">Discover Your Next Favorite Artist Today</h1>
    <p class="page_hero">
      Dive into a world of music discoveries with ArtistsHub – your personal
      guide to the boundless universe of sound. Explore, filter, and learn about
      your favorite artists all in one place.
    </p>
  </div>

  <button type="button" class="hero_button">
    Explore Artists
    <svg class="" width="" height="">
      <use href=""></use>
    </svg>
  </button>
</section>
