.about-section {
    padding: 64px 0px;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.about-team-photo {
    width: 280px;
    height: 168px;
}


.about_logo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-section-title {
    font-size: 44px;
    line-height: 1.15;
}


.about-text {
    font-size: 18px;
    max-width: 288px;
}


.icon-logo-icon {
    width: 64px;
    height: 64px;
}

/*================Tablet====================*/
@media (min-width: 768px) {
    .about-container {
        gap: 24px;
    }

    .about_logo {
        gap: 24px;
    }

    .about-team-photo {
        width: 704px;
        height: 413px;
    }

    .about-text {
        font-size: 20px;
        max-width: 704px;
    }

    .icon-logo-icon {
        width: 80px;
        height: 80px;
    }
}

/*================Desktop====================*/
@media (min-width: 1440px) {
    .about-section {
        padding: 112px 0px;
    }

    .about-container {
        flex-direction: row;
        gap: 32px;
    }

    .about-team-photo {
        width: 640px;
        height: 665px;
        /* flex-shrink: 0; */
    }

    .about-section-title {
        font-size: 60px;
        line-height: 1.2;
        letter-spacing: -0.01em;
    }

    .about_logo {
        max-width: 640px;
    }

    .about-logo-wrapper {
        height: 80px;
        width: 80px;
    }
}