.about-us-container {
    padding: 64px 20px;
}


.team-img {
    margin-bottom: 48px;
}


.about-us-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* max-width: 280px; */
}

.about-title {
    font-size: 44px;
    line-height: 120%;
    letter-spacing: -0.01em;
}

.about-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

@media screen and (min-width: 768px) {
    .about-us-container {
        padding: 64px 32px;
    }

    .team-img {
        margin-bottom: 24px;
    }

    .about-us-content {
        gap: 24px;
        /* max-width: 704px; */
    }

    .about-text {
        font-size: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .about-us-container{
        padding: 112px 64px;
    }

    .about-us-content {
        max-width: 640px;
    }

    .about-us-wrapper {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .about-title {
        font-size: 60px;
    }
}