/* Artists additional */
.artists {
    padding: 64px 0;
}

.artists-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
}

.artists-subtitle {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 32px;
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
}

.artists-loader-container {
    height: 341px;
    margin: 200px auto;
    width: 100px;
}

@media only screen and (min-width: 768px) {
    .artists {
        padding: 64px 0;
    }

    .artists-title {
        max-width: none;
        margin-left: 0;
        margin-right: 0;
    }

    .artists-subtitle {
        max-width: none;
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (min-width: 1440px) {
    .artists {
        padding: 112px 0;
    }

    .artists-subtitle {
        font-weight: 700;
        font-size: 84px;
        line-height: 1.1;
        max-width: 863px;
        margin-bottom: 80px;
    }
}

.filter-wrapper {
    max-width: 288px;
    position: relative;
    margin: 0 auto;
}

.artists-dropdown-genres {
    position: relative;
    max-width: 304px;
    font-family: sans-serif;
}

.dropdown-toggle {
    width: 100%;
    /* padding: 10px 12px; */
    border: 1px solid var(--opacity-white-20);
    border-radius: 12px;
    /* background: #000; */
    /* color: #fff; */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 18px;
    line-height: 1.5;
    transition: border 0.2s ease;

    border: 1px solid var(--opacity-white-20);
    padding: 8px 12px;
    /* width: 265px; */
    width: 100%;
    height: 43px;

    background-color: var(--opacity-transparent);
    /* background-color: var(--color-scheme-1-background); */
    z-index: 12;
}

.dropdown-toggle.open {
    position: relative;
    z-index: 20;
    border-color: var(--color-affair);
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
    border-color: var(--color-affair);
}

.dropdown-toggle-genres {
    margin-top: 12px;
}

.search-and-filters-toggle {
    box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
        inset 0 -2px 1px 0 var(--opacity-neutral-darkest-5),
        inset 0 0 0 1px var(--opacity-white-10);
    background-color: var(--opacity-white-10);

    border-radius: 12px;
    padding: 10px 24px;
    width: 288px;
    height: 47px;

    justify-content: center;
    gap: 12px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: var(--color-white);
}

.dropdown-icon {
    transform-origin: center;
    fill: var(--color-white);
}

.dropdown-menu {
    /* list-style: none; */
    /* padding: 8px 0; */
    /*  margin: 8px 0 0; */
    /*   background: var(--opacity-transparent);
  border: 1px solid var(--opacity-white-20);
  border-radius: 12px; */
    /* position: absolute; */
    width: 100%;
    /* max-height: 304px; */
    overflow-y: auto;
    z-index: 10;
    scrollbar-color: var(--color-affair) #222;

    /* At start is not visible */
    opacity: 0;
    pointer-events: none;

    border-bottom: 1px solid var(--color-scheme-1-border);
    border-left: 1px solid var(--color-scheme-1-border);
    border-right: 1px solid var(--color-scheme-1-border);
    border-radius: 0 0 16px 16px;
    padding: 16px;
    /* width: 265px; */
    width: 100%;
    height: 161px;

    background-color: var(--color-scheme-2-foreground);

    display: none;
}

.dropdown-menu-genres {
    height: 376px;
    /* display: none; */
}

.dropdown-menu-sort {
    height: 136px;
    /* display: none; */
}

.dropdown-menu.open {
    display: inline-block;
}

.dropdown-toggle-genres.open {
    border-radius: 12px 12px 0 0;
}

.dropdown-toggle-sort.open {
    border-radius: 12px 12px 0 0;
}

.dropdown-menu li {
    padding: 8px 8px;
    border-radius: 5px;
    /* padding-bottom: 16px; */
    cursor: pointer;
    /* color: #fff; */
    transition: background-color 0.17s;
}

.dropdown-menu li:hover {
    background-color: var(--color-affair-dark);
    /* background-color: var(--color-buttons-hover); */
}

.dropdown-menu li:focus {
    background-color: var(--color-affair-dark);
    /* background-color: var(--color-buttons-hover); */
}

.filters-content {
    position: absolute;
    background-color: var(--color-scheme-2-foreground);

    border-radius: 12px;
    padding: 12px;
    max-width: 289px;
}

.filter-reset-wrapper {
    display: flex;
    justify-content: space-between;
}

.filters-title {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.filters-reset-btn {
    border-radius: 12px;
    max-width: 48px;
    height: 27px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--color-white);
    background-color: transparent;
    display: none;
}

.search-input {
    font-size: 18px;
    line-height: 1.5;
    color: var(--color-scheme-2-text);

    border: 1px solid var(--opacity-white-20);
    border-radius: 12px;
    padding: 8px 12px;
    /* width: 265px; */
    width: 100%;
    height: 48px;

    background-color: var(--opacity-transparent);

    padding-left: 48px;

    margin-bottom: 12px;
    outline: none;
    transition: 0.1s ease;
}

.search-input::placeholder {
    font-size: 18px;
    line-height: 1.5;
    color: var(--opacity-white-60);
}

/* .search-input:hover::placeholder {
  color: var(--color-scheme-2-text);
} */

.search-input:focus::placeholder {
    color: transparent;
}

.search-input:hover {
    border-color: var(--color-affair);
}

input.search-input:focus {
    border: 1.5px solid var(--color-affair);
}

.search-btn {
    padding: 12px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    border-radius: 5px;
}

.search-btn:hover .search-icon {
    /* fill: #945cad; */
    /* fill: var(--color-affair);
  opacity: 0.6; */
    fill: var(--color-buttons-hover);
}

.search-icon {
    fill: var(--color-white);
    cursor: pointer;
    transition: fill 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
    .filter-wrapper {
        max-width: 704px;
    }

    .filters-header {
        display: flex;
        justify-content: space-between;
    }

    .artists-container {
        position: relative;
    }

    .filters-content {
        right: 0;
        max-width: 304px;
        width: 100%;
    }

    .search-and-filters-toggle {
        width: 233px;
    }
}

@media only screen and (min-width: 1440px) {
    .search-and-filters-toggle {
        display: none;
    }

    .filters-content {
        max-width: 328px;
        background-color: var(--opacity-transparent);
        padding: 0;
    }

    .dropdown-menu {
        background-color: var(--opacity-transparent);
    }

    .filters-reset-btn {
        display: block;
    }

    .filters-reset-btn:hover,
    .filters-reset-btn:focus {
        /* color: #945cad; */
        /* color: var(--color-affair);
    opacity: 0.6; */
        /* color: #8c56a5; */
        /* color: #945cad; */
        color: var(--color-buttons-hover);
    }

    .filter-reset-wrapper {
        max-width: 304px;
        width: 100%;
    }
}

/* .artists-dropdown-genres { position: relative; max-width: 200px; font-family: sans-serif; margin-bottom: 16px; } .dropdown-toggle { width: 100%; padding: 10px; border: 1px solid #333; border-radius: 6px; background: #000; color: #fff; text-align: left; cursor: pointer; border: 1px solid var(--opacity-white-20) ; border-radius: 12px; padding: 8px 12px; width: 304px; height: 43px; font-family: var(--font-family) ; font-weight: 400; font-size: 18px; line-height: 150%; color: var(--color-white) ; } .dropdown-toggle::after { content: '∨'; float: right; font-size: 0.7rem; margin-top: 2px; } .dropdown-menu { list-style: none; padding: 0; margin: 5px 0 0; background: #111; border: 1px solid #333; border-radius: 6px; position: absolute; width: 100%; max-height: 304px; overflow-y: auto; display: none; z-index: 10; scrollbar-color: var(--color-affair) #222; border: 1px solid var(--opacity-white-20) ; border-radius: 12px; padding: 8px 12px; width: 304px; background: var(--opacity-transparent) ; } .dropdown-menu li { padding: 10px; cursor: pointer; color: #fff; } .dropdown-menu li:hover { background: #222; } .artists-dropdown-genres.open .dropdown-menu { display: block; } .dropdown-toggle::after { content: '∨'; float: right; font-size: 0.7rem; margin-top: 2px; } .artists-dropdown-genres.open .dropdown-toggle::after { content: '∧'; } .artists-icon-genres { stroke: transparent; fill: #0d0b0a; transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ; } */
.hidden {
    display: none;
}

.no-scroll {
    overflow: hidden;
}