.artist-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    
    border-radius: 16px;
    padding: 52px 8px;
    width: 288px;
    margin: 0 auto;

    background: var(--clr-dark);
}

.artist_form_albums {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;

}

.albums-title {
    align-self: start;
    line-height: 1.3;
    letter-spacing: -0.01em;
}

.albums-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.album-container {
    display: flex;
    flex-direction: column;
    gap: 12px;

    border-radius: 16px;
    padding: 14px 11px;
    min-width: 250px;
    max-width: 272px;

    background: #1e1c1f;
}

.album-name {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
}

.tracks-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    border-radius: 8px;
    padding: 4px 0px 4px 12px;
    height: 20px;

    background: rgba(255, 255, 255, 0.05);
}

.track-span {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 8px;
    width: 97px;
}

.time-span {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 8px;
    width: 102px;
    text-align: center;
}

.link-span {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 8px;
    width: 35px;
}

.track-row {
    display: grid;
    grid-template-columns: 1fr 80px 40px;

    border-radius: 8px;
    padding: 8px 0px 8px 12px;
    width: 250px;

    &:nth-child(odd) {
        background-color: rgba(255, 255, 255, 0.05);
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.track-title {
    font-size: 12px;
    width: 97px;
}

.track-duration {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    width: 74px;
}

.track-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.youtube-icon {
    display: block;
    fill: #fff;

    &:hover {
        opacity: 0.6;
    }
}
