.artists-section {
  padding: 64px 0;
}

.artists-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.artists-title {
  font-family: var(--font-family);
  font-size: 16px;
}

.artists-subtitle {
  font-family: var(--second-family);
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.artists-list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
}

.artist-card {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 288px;
  height: 452px;
  min-width: 280px;
}

.artist-image {
  border-radius: 16px;
  width: 100%;
  height: 177px;
}

.artist-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.genres-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.genres-item {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
  border: 1px solid white;
  border-radius: 6px;
  padding: 4px 10px;

  background: var(--opacity-transparent);
}

.artist-title-wrapper {
  width: 288px;
  height: 104px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.artist-name {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

.artist-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  display: -webkit-box;
  -webkit-line-clamp: 2; /* ← скільки рядків показувати */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.artist-button {
  background-color: inherit;
  border-radius: 12px;
  width: 125px;
  height: 27px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border: none;
  padding: 0;
  cursor: pointer;
}

.load-more {
  display: block;
  align-items: center;

  border-radius: 12px;
  padding: 10px 24px;
  width: 170px;

  box-shadow:
    0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: var(--clr-primary);

  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}

.load-more:hover {
  opacity: 0.6;
}

/* Клас для приховування */
/* .is-hidden {
    display: none;
} */

/* ------- Tablet styles ------- */

@media screen and (min-width: 768px) {
}

/* ------- Desktop styles ------- */

@media screen and (min-width: 1440px) {
  .artists-section {
    padding: 112px 0;
    min-width: 1440px;
  }

  .artists-subtitle {
    font-size: 60px;
    width: 523px;
  }
}
