@media (max-width: 767px) {

h2.feedback-title-hidden {
    display: none !important;
} 

.feedback-section {
  padding: 64px 16px;
  background: #060307;
}

.feedbacks-swiper .feedback-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
}

.star-rating {
  display: flex;
  gap: 4px;
}

.star-rating i {
  color: #764191;
  font-size: 18px;
}

.feedback-text {
    font-size: 18px !important;
    line-height: 140%;
    width: 100% !important;
    max-width: 288px;
    margin: 0 auto;
    text-align: center;
  }

.feedback-author {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.swiper-button-prev {
    color: #060307 !important;
} 

.feedbacks-slider {
  display: flex;
  justify-content: center;
}

.feedbacks-swiper {
  position: relative;
  padding-bottom: 26px !important;
}

.feedbacks-swiper .swiper-pagination {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc !important;
  opacity: 1; 
  cursor: pointer;
  margin: 0 5px !important; 
}

.swiper-pagination-bullet-active {
  background-color: #fff !important; 
}
}

@media (min-width: 768px){

 h2.feedback-title-hidden {
    display: none !important;
}

  .feedback-section {
    padding: 64px 32px;
  }

  .feedbacks-swiper .feedback-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
  .star-rating {
  display: flex;
  gap: 4px;
}

.star-rating i {
  color: #764191;
  font-size: 18px;
}

  .feedback-text {
    font-size: 26px !important; 
    line-height: 140%;
    width: 518px !important; 
    margin: 0 auto;
    text-align: center;
  }

  .feedback-author {
    font-size: 16px;
  }

  .swiper-button-prev,
.swiper-button-next {
  width: 48px;
  height: 48px;
  background: #060307;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; 
  margin: 0;
}
.swiper-button-prev {
    color: #060307 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
 display: none !important;
 opacity: 0 !important;
 content: "" !important;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 13px !important;
  height: 13px;
  fill: #fff !important;
  transition: fill 0.3s ease;
}

.swiper-button-prev:not(.disabled):hover svg,
.swiper-button-next:not(.disabled):hover svg {
  fill: #d3d3d3 !important;
}

.swiper-button-next:active,
.swiper-button-prev:active {
  transform: scale(0.9); 
  background: #1a1a1a;
}
  .feedbacks-swiper {
  position: relative;
  padding-bottom: 26px !important;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc !important;
  opacity: 1; 
  cursor: pointer;
  margin: 0 5px !important; 
}

.swiper-pagination-bullet-active {
  background-color: #fff !important; 
}


@media (min-width: 1440px) {
  .feedback-section {
    padding: 112px 64px;
  }

    .feedbacks-swiper .feedback-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
  .star-rating {
  display: flex;
  gap: 4px;
}

.star-rating i {
  color: #764191;
  font-size: 18px;
}
  .feedback-text {
    max-width: 866px;
    font-size: 32px;
  }

  .feedback-author {
    font-size: 18px;
  }
  .feedbacks-swiper {
  position: relative;
  padding-bottom: 75px !important; 
}
  }
}
