.footer__container {
  color: #fff;
  font-family: var(--font-family);
  min-width: 320px;
}

.footer {
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 48px;
}

.footer__logo-icon {
  width: 84px;
  height: 36px;
  fill: #764191;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

.footer__nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.footer__nav-link:hover {
  opacity: 0.6;
}

.footer__nav-link:active {
  opacity: 0.2;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin: 24px 0px 32px;
}

.footer__social-icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
  transition: fill 0.3s;
}


.footer__social-link .footer__social-icon {
  transition: opacity 0.3s ease;
  opacity: 1;
}

.footer__social-link:hover .footer__social-icon {
  opacity: 0.6;
}

.footer__social-link:active .footer__social-icon {
  opacity: 0.2;
}




.footer__copyright {
  text-align: center;
  font-size: 16px;
  opacity: 0.7;
  font-weight: 400;
  line-height: 150%;
}



.footer__credits {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 16px;
}

@media (min-width: 768px) {

  .footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .footer__content {
    gap: 32px;
    margin-bottom: 80px;
  }

  .footer__nav {
    flex-direction: row;
    gap: 32px;
  }

  .footer__socials {
    order: 2;
    margin: 0;
    gap: 24px;
  }

  .footer__copyright {
    order: 1;
    margin: 0;
    text-align: left;
  }

  .footer__credits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;

  }

  .footer__logo-icon {
    width: 116px;
    height: 45px;
  }

  .footer__social-icon {
    width: 32px;
    height: 32px;
  }
}



@media (min-width: 1440px) {
  .footer__social-icon {
    width: 24px;
    height: 24px;
  }

}