.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    background-color: #060307;
}



main {
    padding-top: 64px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px 0 20px;
    height: 64px;
}

.header-logo {
    padding-top: 6.5px;
}

.header-icon-logo {
    width: 119px;
    height: 51px;
    fill: white;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-list {
    display: none;
}


.burger {
    background-color: transparent;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.burger-icon {
    display: inline-block;
    fill: white;
}

.nav-menu {
    gap: 32px;
}

.mobile-menu-close {
    fill: white;
}

.mobile-menu {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #060307;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2,
            1);

    background-color: #060307;
    margin: 0 auto;
    z-index: 999;
}


.mobile-menu-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 39px;
}

.header-menu-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px 0 20px;
    height: 64px;
}

.menu-header-logo {
    padding-top: 6.5px;
}

.mobile-nav-ul {
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.container-mobile-menu-close{
    width: 48px;
    height: 48px;
    position: absolute;
    top: 8px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu-close {
    margin: 6.34px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.mobile-menu-close:hover,
.mobile-menu-close:focus {
    border: none;
}

.mobile-nav-li {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 26px;
    line-height: 150%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



@media screen and (min-width: 768px) {
    .burger {
            display: none;
        }

    .header-container {
        height: 72px;
        padding: 0 64px;
    }

    .header-list {
        display: flex;
        gap: 32px;
        align-items: center;
        flex-direction: row;
    }

    .nav-menu-link {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
    }
}