/*=========== Ðœob 320 ===========*/

.hero {
  position: relative;
  background-color: #23132b;
  overflow: hidden;
  padding-bottom: 0;
}




.hero_blok {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 288px;
  z-index: 10;
  height: auto;

  margin-top: 64px;
  margin-bottom: 64px;
}

.title_hero {
  width: 288px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.01em;
}

.page_hero {
  min-width: 288px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;



  margin-bottom: 24px;
}

.hero_button {
  height: 288px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
  border: none;
  border-radius: 12px;
  width: 100%;
  height: 47px;

  background-color: #764191;
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  padding: 0;
  transition: background 0.2s ease-in-out;

  box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #764191;
}

.icon_hero {
  fill: #fff;
}

.hero_button:hover {
  box-shadow:
    0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);

  opacity: 0.6;
}

.hero_button:active {
  background-color: #6a317d;
}

.hero:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: linear-gradient(180deg, #060307, #23132b00);

  pointer-events: none;
  z-index: 10;
}

.hero:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 106px;
  background: linear-gradient(180deg, rgba(35, 19, 43, 0) 0%, #060307 100%);

  pointer-events: none;
  z-index: 10;
}

.hero_image {
  background-color: #23132b;
  width: 280px;
  height: 385px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('/img/hero/hero-mob.webp');

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background-image: url('/img/hero/hero-mob@2x.webp');
  }
}

/*========tablet 768 ========*/

@media (min-width: 768px) {
  .hero_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
  }

  .hero_blok {
    width: 100%;
    margin-bottom: 32px;
    margin-top: 0;
  }

  .title_hero {
    margin-top: 32px;
    margin-bottom: 24px;
    width: 624px;
  }

  .page_hero {
    font-size: 20px;
    margin-bottom: 32px;
    width: 624px;
  }

  .hero_button {
    width: 246px;
    height: 47px;
    align-self: flex-start;
    padding: 0;
    margin: 0;
  }

  .hero_image {
    width: 704px;
    height: 632px;
    background-image: url('/img/hero/hero-tab.webp');
  }

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    .hero_image {
      background-image: url('/img/hero/hero-tab@2x.webp');
    }
  }
}

/* ========descktop 1440 MAIN========*/
@media (min-width: 1440px) {
  .hero_container {
    flex-direction: row;
    padding: 0 64px;
  }

  .hero_blok {
    justify-content: center;
    flex-direction: column;
    margin: 0;
    width: 640px;
  }

  .title_hero {
    font-size: 84px;
    margin-top: 0;
  }

  .hero_button {
    width: 206px;
    margin: 0;

    height: 47px;
  }

  .hero_image {
    width: 641px;
    height: 900px;
    background-image: url('/img/hero/hero-desktop.webp');
  }

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    .hero_image {
      background-image: url('/img/hero/hero-desktop@2x.webp');
    }
  }
}