/*=========== Мобильный 320 ===========*/

.hero_banner {
  background-color: #23132b;

  background-position: bottom;
  background-repeat: no-repeat;

  background-image:image-set(
    url('/img/hero.img/hero-mob.webp') 1x,
    url('/img/hero.img/hero-mob@2x.webp') 2x
  );

 

  padding: 64px 16px;

  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  min-height: 1031px;
 
}

.hero_blok {
  width: 288px;

  margin-bottom: 24px;
  margin-left: 16;
  /* justify-content: center;
  flex-direction: column; */

  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: #fff;
}

.title_hero {
  margin-bottom: 20px;
  display: block;
  font-weight: 700;

  line-height: 1.1;
  letter-spacing: -0.01em;

  font-size: 48px;

  color: #fff;
}
.page_hero {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.hero_button {
  justify-content: center;
  border-radius: 12px;
  padding: 10px 24px;
  min-width: 288px;
  height: 47px;
  box-shadow:
    0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);

  background-color: #764191;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;

}

/*========tablet 768 ========*/

@media (min-width: 768px) {
  .hero_banner {
    background-image: image-set(
      url('/img/hero.img/hero-tab.webp') 1x,
      url('/img/hero.img/hero-tab@2x.webp') 2x
    );
  }

  .hero_blok {
    margin-bottom: 32px;
    margin-left: 32px;

    width: 624px;
    height: 220px;
  }

  .title_hero {
    margin-bottom: 24px;
  }

  .page_hero {
    font-size: 20px;
  }
  .hero_button {
    margin-left: 32px;
    margin-bottom: 32px;
    width: 246px;
    height: 47px;
  }
}

/*========descktop 1440 MAIN========*/
@media (min-width: 1440px) {
  .hero_banner {
    background-image: image-set(
      url('/img/hero.img/hero-desktop.webp') 1x,
      url('/img/hero.img/hero-desktop@2x.webp') 2x
    );
    background-size: contain;
    background-position: right bottom;
    padding: 0px 64px;
    width: 1440px;
    height: 900px;
  }

  .hero_blok {
    width: 640px;
    height: 390px;
  }

  .title_hero {
    font-weight: 700;
    font-size: 84px;
    line-height: 1.1;
    letter-spacing: -0.01em;
    color: #fff;
  }

  .hero_button {
    width: 206px;
  }
}
